*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #F1F1F1;
    display: flex;
    justify-content: space-between;
    height: 100vh;
}

.cabecalho{
    padding-left: 40px;
    padding-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.cabecalho img{
    height: 160px;
    width: 160px;
}

/* .tarefas{
    display: flex;
    align-items: center;
    justify-content: center;

}

.conatiner-tarefa{
    display: flex;
    align-items: center;
    flex-direction: column;    
} */

.logo h1{
    padding-right: 950px;
    width: 1560px;
}
.logo .person{
    background-color: #ccc;
    border-radius: 50%;
    height: 70px;
    width: 70px;
    display: flex;
}
h1{
    padding: 64px;
    font-size: 36px;
}
.tarefas{
    display: flex;
    margin-left: 130px;
    flex-direction: column;
    position: relative;
    outline: none;
    border: none;
    padding-top: 100px;
    
}
.tarefas a{
    padding: 8px;
    width: 500px;
   

}

a .addTarefa{
    width: 250px;   
    align-items: center;
    display: flex;
    justify-content: center;
}

.tarefas h2{
    display: flex;
    padding: 8px;
    align-items: center;
    justify-content: center;
}

.tarefas p{
    padding: 18px;
    background-color: #C5C5C5;
    width: 100%;
    border-radius: 16px;
    font-size: 18px;  
    display: flex;
    align-items: center;  
    text-decoration: none;
    box-shadow: none;
    justify-content: center;
} 
.tarefas a{
    text-decoration: none;
    color: black;
}     
button{
    display: flex;
    justify-content: center;
    width: 20%;
    margin-left: 85px;
    border-radius: 16px;
    cursor: pointer;
    border: none;
}  

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px #ccc inset !important;
}

.addTarefa{
    background-color: #FFDB1D;
    color: white;
    height: 50px;
    width: 200px;
}

.addTarefa button{
    display: flex;
    justify-content: flex-start;
}

/* feito */
.barra-lateral{
    width: 40vw;
    background-color: blue;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;  
}
.barra-lateral img{
    padding-top: 200px;
}

.addTarefa:hover{
    transform: scale(1.1)

}

@media screen and (max-width: 600px) {
    main {
        width: 100%;
    }
} 
